body, html { font-family: "Roboto", sans-serif; font-size: 15px; }

img { max-width: 100%; }

nav.navbar { position: fixed; top: 0; width: 100%; padding: 25px 180px; background-color: #A2CFFF; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); z-index: 9999; border: none; }

/* borde navbar */
.navbar-toggler { border: none !important; }

@media screen and (max-width: 767px) { nav.navbar { padding: 25px 5px; }
  section#servicios { margin-top: 200px; }
  section#servicios div.col-md-4 { margin-bottom: 50px; } }
header#header a.nav-item { font-size: 1.05rem; text-transform: uppercase; font-weight: 600; margin-left: 20px; padding: 6px 40px; background-color: #32577F; color: #EEF6FF; border: none; }

/*
************************
*        INDEX         *
************************
*/
/*Section banner*/
section#banner { margin-top: 100px; }
section#banner .textobanner { margin-top: 120px; text-align: right; }
section#banner h1 { font-size: 3.5rem; color: #32577F; font-weight: bolder; }
section#banner p { margin-top: 30px; color: #A2CFFF; font-size: 1.4rem; }
section#banner a.btn { margin-top: 30px; padding: 15px 70px; background: #32577F; font-weight: bold; text-transform: uppercase; border: none; }

/*Cambios en servicios*/
section#servicios, section#testimonios { height: 70vh; display: flex; justify-content: center; align-items: center; text-align: center; }

/*testimonios*/
section#testimonios { background-color: #e9ecef; }
section#testimonios a.btn { margin-top: 40px; padding: 20px 40px; }
section#testimonios div.jumbotron { opacity: 0; }

@media (min-width: 992px) { section#testimonios h1 { font-size: 4rem; font-weight: 700; } }
/*contacto*/
section#contacto { height: 70vh; display: flex; justify-content: center; align-items: center; }
section#contacto input, section#contacto select { padding: 30px; }
section#contacto button[type="submit"] { margin-top: 40px; padding: 20px 40px; }

/* Navegacion lateral de categorias */
section#categorias { background-color: #EEF6FF; }
section#categorias #nav-left p { font-size: 1.15rem; text-align: center; background: #32577F; padding: 5px; border-radius: 4px; color: #EEF6FF; font-weight: 600; text-transform: uppercase; }
section#categorias #nav-left ul.list-unstyled { background: #fff; border-radius: 4px; width: 100%; padding: 20px; height: 700px; margin-top: -15px; z-index: -1 !important; box-shadow: 6px 0 10px rgba(0, 0, 0, 0.089), 0px 0px 0px rgba(0, 0, 0, 0.22); }
section#categorias #nav-left ul.list-unstyled li { margin: 25px 20px; }
section#categorias #nav-left ul.list-unstyled li a { color: #32577F !important; font-size: 1.2rem; }
section#categorias #nav-left ul.list-unstyled li img { margin-right: 20px; }

/*Seccion destacados*/
section#destacados h3 { text-transform: uppercase; color: #32577F; font-weight: 400; }
section#destacados h3:nth-child(1) { margin-top: 30px; }
section#destacados h3 span { font-weight: 600; }
section#destacados h3:after { width: 50px; height: 3px; background-color: #777B7F; margin-top: 10px; margin-bottom: 20px; content: ""; display: block; }
section#destacados img { border: 2px #fff solid; border-radius: 4px; transition: 0.2s all; }
section#destacados img:hover { filter: blur(3px); }

/*Fin destacados*/
/*Seccion perfil*/
section#perfil { background-color: #EEF6FF; }
section#perfil .menu { height: 100%; width: 200px; background-color: #EEF6FF; overflow-x: hidden; padding-top: 20px; }
section#perfil .menu h4 { background-color: #A2CFFF; text-transform: uppercase; color: #32577F; font-size: 1.3rem; font-weight: 600; padding: 9px 8px 9px 16px; border-radius: 4px; }
section#perfil .menu .enlaces { background-color: #fff; margin-top: -7px; }
section#perfil .menu a { padding: 7px 12px 7px 17px; text-decoration: none; font-size: 1.1rem; color: #32577F; display: block; }
section#perfil .menu a:hover { color: #A2CFFF; }
section#perfil h3 { text-transform: uppercase; color: #32577F; font-weight: 400; margin-top: 20px; }
section#perfil h3:after { width: 50px; height: 3px; background-color: #777B7F; margin-top: 10px; margin-bottom: 20px; content: ""; display: block; }
section#perfil .profile { margin-bottom: 50px; }
section#perfil .profile .fondo-profile { width: 100%; min-height: 200px; border-radius: 4px; background: url(http://placehold.it/1200x200) center center no-repeat/cover; display: flex; justify-content: center; align-items: center; }
section#perfil .profile .fondo-profile img { margin-bottom: -195px; border: 3px solid #A2CFFF; border-radius: 35px; }
section#perfil .profile .datos { margin-top: 6px; background-color: #A2CFFF; border-radius: 4px; min-height: 200px; display: flex; justify-content: center; align-items: center; flex-direction: space-around; text-align: center; }
section#perfil .profile .datos h5 { color: #32577F; text-transform: uppercase; font-size: 1.1rem; font-weight: bold; }
section#perfil .profile .datos .separadores { border-left: 1px solid #EEF6FF; border-right: 1px solid #EEF6FF; }
section#perfil .profile .datos p { font-size: 2rem; color: #EEF6FF; font-weight: bolder; }
section#perfil .profile .servicios { margin-top: 6px; background-color: #A2CFFF; border-radius: 4px; min-height: 180px; padding: 20px; display: flex; justify-content: center; align-items: center; flex-direction: space-around; text-align: center; }
section#perfil .profile .servicios img { border: 3px #EEF6FF solid; border-radius: 4px; }

/*Perfil usuario*/
section#perfilotro { margin-top: 50px; background-color: #EEF6FF; }
section#perfilotro .menu { height: 100%; width: 200px; background-color: #EEF6FF; overflow-x: hidden; padding-top: 20px; }
section#perfilotro .menu h4 { background-color: #A2CFFF; text-transform: uppercase; color: #32577F; font-size: 1.3rem; font-weight: 600; padding: 9px 8px 9px 16px; border-radius: 4px; }
section#perfilotro .menu .enlaces { background-color: #fff; margin-top: -7px; }
section#perfilotro .menu a { padding: 7px 12px 7px 17px; text-decoration: none; font-size: 1.1rem; color: #32577F; display: block; }
section#perfilotro .menu a:hover { color: #A2CFFF; }
section#perfilotro .profile { margin-bottom: 50px; }
section#perfilotro .profile .fondo-profile { width: 100%; min-height: 180px; border-radius: 4px; margin-bottom: 6px; background: url(http://placehold.it/1200x200) center center no-repeat/cover; display: flex; justify-content: center; align-items: center; }
section#perfilotro .profile .fondo-profile img { margin-bottom: -195px; border: 3px solid #A2CFFF; border-radius: 35px; }
section#perfilotro .profile .opiniones { margin-top: 6px; background-color: #A2CFFF; padding: 30px; border-radius: 4px; min-height: 200px; display: flex; justify-content: center; align-items: center; flex-direction: space-around; text-align: center; }
section#perfilotro .profile .opiniones h4 { color: #32577F; text-transform: uppercase; font-size: 1.1rem; font-weight: bold; text-align: center; }
section#perfilotro .profile .opiniones .opinion { background-color: #EEF6FF; padding: 6px 25px; margin: 10px; border-radius: 4px; display: flex; justify-content: center; align-items: center; }
section#perfilotro .profile .opiniones .opinion .foto-perfil { border: 2px solid #A2CFFF; border-radius: 25px; margin-left: -10px; }
section#perfilotro .profile .opiniones p { font-size: 2rem; color: #EEF6FF; font-weight: bolder; }
section#perfilotro .profile .servicios { background-color: #A2CFFF; border-radius: 4px; min-height: 180px; padding: 20px; display: flex; justify-content: center; align-items: center; flex-direction: space-around; text-align: center; }
section#perfilotro .profile .servicios img { margin-top: 30px; border: 3px #EEF6FF solid; border-radius: 4px; }

/*Seccion pagina de servicio*/
section#servicio { background: #EEF6FF; }
section#servicio img { max-width: 100%; }
section#servicio button { background: #32577F; font-weight: 500; color: #EEF6FF; text-transform: uppercase; border: none; padding: 15px; }
section#servicio button:hover { background: #192d42; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
section#servicio h3 { color: #32577F; text-transform: uppercase; font-weight: 600; font-size: 1.5rem; }
section#servicio #descripcion { background: #fff; padding: 20px; }
section#servicio #descripcion p { color: #777B7F; }
section#servicio #descripcion .user { color: #32577F; font-weight: 600; font-size: 1.2rem; }
section#servicio #descripcion ul { color: #777B7F; }

/*Pagina de busqueda de servicio*/
div#busqueda .item_busqueda { padding: 3px 10px; margin: 20px; background-color: white; border-radius: 3px; box-shadow: 0 0px 1px rgba(0, 0, 0, 0.12), 0 0px 5px rgba(0, 0, 0, 0.24); }
div#busqueda .item_busqueda img { border: 2px solid #EEF6FF; }
div#busqueda .item_busqueda h4 { color: #32577F; font-weight: 600; }
div#busqueda .item_busqueda p { color: #777B7F; }
div#busqueda .item_busqueda p a.btn { margin-left: 50px; }
div#busqueda .item_busqueda .user { margin-top: 30px; color: #32577F; font-size: 1.3rem; }
div#busqueda .item_busqueda .user a { text-decoration: underline; color: #32577F; }
div#busqueda .item_busqueda .user a:hover { font-weight: 400; }
div#busqueda .item_busqueda a.btn { background: #32577F; font-weight: 300; color: #EEF6FF; border: none; padding: 3px 15px; }
div#busqueda .item_busqueda a.btn:hover { background: #192d42; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

/*Header */
header#header2 { width: 100%; background-color: #A2CFFF !important; padding: 20px; display: flex !important; justify-content: space-around; }
header#header2 form.buscador { background-color: #EEEEEE; padding: 0px 90px; border-radius: 5px; }
header#header2 .icon-search:before { content: "\e986"; display: inline-block; flex-direction: start; color: #777B7F; font-size: 1.5rem; }
header#header2 div.icon-search input { border: none; background-color: transparent; }
header#header2 .form-control { font-family: "Roboto", sans-serif; font-size: 1.2rem; color: #777B7F; }
header#header2 .form-control:focus, header#header2 .form-control:active { outline: none !important; box-shadow: none; }
header#header2 .botones a { color: #32577F; font-size: 1.2rem; }

/*Intercambios*/
section#intercambio { background: #EEF6FF; }
section#intercambio .cajasintercambio { padding: 60px; background: white; margin: 40px; }
section#intercambio .resultado { text-align: center; }
section#intercambio .resultado h4 { background-color: #A2CFFF; border-radius: 5px; padding: 10px; margin: 20px; }
section#intercambio .resultado h4 img { margin-right: 10px; }
section#intercambio .resultado .service { margin: 20px; background-color: #EEF6FF; border-radius: 5px; padding: 10px; }
section#intercambio h3 { color: #32577F; font-size: 1.4rem; font-weight: 750; margin-bottom: 20px; }
section#intercambio .dropdown { margin-bottom: 20px; }
section#intercambio .dropdown .btn { border: 1px solid #32577F; background-color: #A2CFFF; color: #32577F; }
section#intercambio .btn-group { margin-bottom: 20px; }
section#intercambio .btn-group button { background: #EEF6FF; border: none; color: #A2CFFF; }
section#intercambio .btn-group .active { background: #A2CFFF; color: #32577F; }
section#intercambio a.btn { background: #32577F; border: none; padding: 5px 40px; display: flex; justify-content: center; align-items: center; }
section#intercambio a.btn:hover { background: #192d42; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
section#intercambio .list-group { border: 1px solid #32577F; border-radius: 4px; background-color: #EEF6FF; color: #32577F; margin-bottom: 20px; }
section#intercambio .list-group .active { background-color: #A2CFFF; border: none; color: #32577F; font-weight: 600; }
section#intercambio input[type=text] { margin-top: 20px; background: #EEF6FF; border: none; border-radius: 6px; display: block; padding: 25px 95px; }

section#login { background: #EEF6FF; }
section#login form#contenido_form { background-color: #A2CFFF; border: 2px solid #32577F; padding: 50px; border-radius: 5px; margin: 20px; }
section#login form#contenido_form button { margin-top: 20px; padding: 5px 50px; background-color: #32577F; border: none; text-align: center; text-transform: uppercase; }
section#login form#contenido_form button:hover { background: #192d42; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
section#login form#contenido_form .form-group label { text-transform: uppercase; color: #32577F; font-weight: 600; }
section#login form#contenido_form .form-group input { border: 2px solid #32577F; background-color: #EEF6FF; }
section#login form#contenido_form .form-group ::placeholder { color: #777B7F; }
section#login h2 { display: inline-block; margin-left: 10px; margin-top: 20px; padding: 4px 20px; text-transform: uppercase; font-weight: 600; color: #32577F; }
section#login h2 a { color: #A2CFFF; }

/*Footer*/
footer { width: 100%; height: 50vh; background-color: #32577F; display: flex; justify-content: center; align-items: center; text-align: center; color: #EEEEEE; }
footer div .col-md-4 { margin-top: 50px; }
footer div .col-md-4 p { font-weight: 200; font-size: .95rem; color: #B5B8BE; }
footer .logo { font-size: 2rem; color: #EEEEEE; margin-bottom: 30px; }
footer .logo span { color: #A2CFFF; }
footer a .fa { background-color: #4B505D; color: #EEEEEE; border-radius: 50%; padding: 18px; width: 50px; height: 50px; text-align: center; transition: 0.2s all; margin-right: 10px; margin-top: 25px; }
footer a .fa:hover { opacity: 0.7; }
footer h4 { color: #EEEEEE; margin-bottom: 40px; }
footer hr { margin-top: 60px; border: .4px solid #353A49; }
footer .copy { color: #B5B8BE; display: flex; justify-content: center; align-items: center; text-align: center; font-size: 0.9rem; margin-top: 35px; }

/*# sourceMappingURL=style.css.map */
