$primary:#A2CFFF;
$grey: #777B7F;
$dark:#32577F;
$light:#EEF6FF;
$tipo:'Roboto', sans-serif;
$tam:15px;

body,html{
    font-family: $tipo;
    font-size: $tam;
}

img{
    max-width: 100%;
}

//Caja flex
@mixin flexible($direccion, $centrar) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direccion;
    text-align: $centrar;
}

@mixin full {
    width: 100%;
    min-height: 100vh;
}

nav.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 180px;
    background-color: $primary;
    box-shadow: 0 4px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 9999;
    border: none;
}

/* borde navbar */
.navbar-toggler{
    border: none !important;
}

@media screen and (max-width:767px){
    nav.navbar{  
        padding: 25px 5px;
    }

    section#servicios{
        margin-top: 200px;
    }

    section#servicios div.col-md-4{
        margin-bottom: 50px;
    }
}

header#header a.nav-item{
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 20px;
    padding: 6px 40px;
    background-color: $dark;
    color: $light;
    border: none;
}

/*
************************
*        INDEX         *
************************
*/

/*Section banner*/
section#banner{
    margin-top: 100px;

    .textobanner{
        margin-top: 120px;
        text-align: right;
    }
    h1{
        font-size: 3.5rem;
        color: $dark;
        font-weight: bolder;
    }
    p{
        margin-top: 30px;
        color: $primary;
        font-size: 1.4rem;
    }
    a.btn{
        margin-top: 30px;
        padding: 15px 70px;
        background: $dark;
        font-weight: bold;
        text-transform: uppercase;
    }
} 

/*Cambios en servicios*/
section#servicios, section#testimonios{
    height: 70vh;
    @include flexible(null, center);
}

/*testimonios*/
section#testimonios{
    background-color: #e9ecef;
    a.btn{
        margin-top: 40px;
        padding: 20px 40px;
    }
    div.jumbotron{
        opacity: 0;
    }
}
@media (min-width:992px){
    section#testimonios h1{
       font-size: 4rem;
       font-weight: 700;
    }
}

/*contacto*/
section#contacto {
    height: 70vh;
    @include flexible(null, null);
    input, select{
        padding: 30px;
    }
    button[type="submit"]{
        margin-top: 40px;
        padding: 20px 40px;
    }    
}

/* Navegacion lateral de categorias */
section#categorias{
    background-color: $light;
    ul{
        background: $primary;
        width: 100%;
        padding: 20px;
        height: 600px;
    }
    #nav-left p{
        font-size: 1.15rem;
        text-align: center;
        background: $dark;
        padding: 10px;
        color:$light;
        font-weight: 600;
        text-transform: uppercase;
    }
    /*Seccion destacados*/
    h3{
        text-transform: uppercase;
        color: $dark;
        font-weight: 400;
        span{
            font-weight: 600;
        }
        &:after{
            width: 50px;
            height: 3px;
            background-color: $grey;
            margin-top: 10px;
            margin-bottom: 20px;
            content: "";
            display: block;
        }   
    }
    /*Fin destacados*/

}


/*Seccion pagina de servicio*/
section#servicio{
    background: $light;
    img{
        max-width: 100%;
    }
    button{
        background: $dark;
        font-weight: 500;
        color: $light;
        text-transform: uppercase;
        border: none;
        padding: 15px;
        &:hover{
            background: rgb(25, 45, 66);
            box-shadow: 0 4px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
    }
    h3{
        color: $dark;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.5rem;
    }
    #descripcion{
        background: #fff;
        padding: 20px;
        p{
            color: $grey;
        }
        .user{
            color: $dark;
            font-weight: 600;
            font-size: 1.2rem;
        }
        ul{
            color: $grey;
        }
    }
}

/*Pagina de busqueda de servicio*/
div#busqueda{
    .item_busqueda{
        padding: 3px 10px;
        margin: 20px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 0px 1px rgba(0,0,0,0.12), 0 0px 5px rgba(0,0,0,0.24);
        img{
            border: 2px solid $light;
        }
        h4{
            color: $dark;
            font-weight: 600;
        }
        p{
            color: $grey;
            a.btn{
                margin-left: 50px;
            }
        }
        .user{
            margin-top: 30px;
            color: $dark;
            font-size: 1.3rem;
            a{
                text-decoration: underline;
                color: $dark;
                &:hover{
                    font-weight: 400;
                }
            }
        }
        a.btn{
            background: $dark;
            font-weight: 300;
            color: $light;
            border: none;
            padding: 3px 15px;
            &:hover{
                background: rgb(25, 45, 66);
                box-shadow: 0 4px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }
        }
    }
}

/*Header */
header#header2{
   width: 100%;
   background-color: $primary !important; 
   padding: 20px;  
   display: flex !important;     
   justify-content: space-around;
}

form.buscador{
    background-color: $light;
    padding: 0px 100px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    font-family: $tipo;
}
.icon-search:before {
    content: "\e986";
    display: inline-block;
    flex-direction: start;
}

div.icon-search input{
    border: none;
    background-color: transparent;
    outline:0 !important;
}

/*Intercambios*/
section#intercambio{
    background: $light;
    .cajasintercambio{
        padding: 60px;
        background: white;
        margin: 40px;
    }
    .resultado{
        text-align: center;
        h4{
            background-color: $primary;
            border-radius: 5px;
            padding: 10px;
            margin: 20px;
            img{
                margin-right: 10px;
            }
        }
        .service{
            margin: 20px;
            background-color: $light;
            border-radius: 5px;
            padding: 10px;
        }
    }
    h3{
        color: $dark;
        font-size: 1.4rem;
        font-weight:750;
        margin-bottom: 20px;
    }
    .dropdown{
        margin-bottom: 20px;
        .btn{
            border: 1px solid $dark;
            background-color: $primary;
            color: $dark;
            
        }
    }
    .btn-group{
        margin-bottom: 20px;
        // background: $dark;
        button{
            background: $light;
            border: none;
            color: $primary;
        }
        .active{
            background: $primary;
            color: $dark;
        }
    }
    a.btn{
        background:$dark;
        border:none;
        padding: 5px 40px;
        @include flexible(null, null);
        &:hover{
            background: rgb(25, 45, 66);
            box-shadow: 0 4px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
    }
    .list-group{
        border: 1px solid $dark;
        border-radius: 4px;
        background-color: $light;
        color: $dark;
        margin-bottom: 20px;
        .active{
            background-color: $primary;
            border: none;
            color: $dark;
            font-weight: 600;
        }
    }

    input[type=text]{
        margin-top: 20px;
        background: $light;
        border: none;
        border-radius: 6px;
        display: block;
        padding: 25px 95px;
    }
}

section#login{
    background: $light;
    form#contenido_form{
        background-color: $primary;
        border: 2px solid $dark;
        padding: 50px;
        border-radius: 5px;
        margin: 20px;
        button{
            margin-top: 20px;
            padding: 5px 50px;
            background-color: $dark;
            border: none;
            text-align: center;
            text-transform: uppercase;
            &:hover{
                background: rgb(25, 45, 66);
                box-shadow: 0 4px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            }
        }
        .form-group{
            label{
                text-transform: uppercase;
                color: $dark;
                font-weight: 600;
            }
            input{
                border: 2px solid $dark;
                background-color: $light;
               
            }
            ::placeholder{
                color: $grey;
            }
            
        }
    }
    h2{
        display: inline-block;
        margin-left: 10px;
        margin-top: 20px;
        padding: 4px 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: $dark;

        a{
            color: $primary;
        }
    }
    
}

/*Footer*/
footer{
    height: 200px;
    background-color: #343A40;
    color: white;
    @include flexible(null, center);
}